
<div class="row">
  <div class="medium-12 columns">
    <h3 class="h3">Sign up for Pinteresting</h3>
  </div><!-- END of .XXXXX-6 columns --> 
</div><!-- END of .row --> 
<div class="row">
  <div class="medium-12 columns">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div><!-- END of .field -->  
  </div><!-- END of .XXXXX-6 columns --> 
</div><!-- END of .row -->  

<div class="row">
  <div class="medium-12 columns">
    <div class="field">

      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "button" %>
      <%= render "devise/shared/links" %>
    </div>
    <% end %>


  </div><!-- END of .field -->  
</div><!-- END of .XXXXX-6 columns --> 
</div><!-- END of .row -->  
